@import './variables.css';
@import url('https://use.typekit.net/xac8oan.css');

body{
    background-color: var(--bg);
    margin: 0;
    padding: 0;
    width: 100%;
    overflow-x: hidden;  /* Seite mind. so hoch wie der Viewport */
  }

 