---
import Layout from "../layouts/Layout.astro";
import { Image } from "astro:assets";
import mockup from "../assets/appmockup.png";
---

<Layout title="Faktum Newsletter">
  <main>
    <div class="hero">
      <div class="herotxt">
        <div class="hcolor">
          <h1>LASST UNS <br />WIEDER BOCK AUF <br /> POLITIK MACHEN!</h1>
        </div>
        <p>
          Du willst keine neuen Updates zu Faktum verpassen? Dann melde dich
          kostenlos bei unserem Newsletter an!
        </p>
        <div class="input-wrapper">
          <input
            type="email"
            id="email"
            name="email"
            placeholder="Deine E-Mail..."
          />
          <button> VERPASSE NICHTS MEHR! </button>
        </div>
      </div>

      <Image
        src={mockup}
        alt="Mockup der App Faktum auf einem Smartphone zwischen zwei Steinen"
        className="heroimg"
        format="avif"
      />
    </div>
  </main>

  <style>
    body {
      padding: 0;
    }
    .hero {
      position: relative;
      display: flex;
      justify-content: space-between;
      width: 100%;
      max-width: 1440px;
      min-height: 100vh;
      height: auto;
      margin: 0 auto;
      overflow-x: clip;
      overflow-y: visible;
    }

    .herotxt {
      display: flex;
      position: absolute;
      flex-direction: column;
      align-self: center;
      gap: 2rem;
      padding-inline: 2vw;
    }

    h1 {
      font-family: var(--arth);
      font-style: italic;
      color: var(--text);
      font-size: clamp(3vw, 5vw, 70px);
      line-height: 123%;
    }

    p {
      font-family: var(--upgb);
      color: var(--text);
      font-size: 2.5vw;
      font-size: clamp(1.5vw, 2.5vw, 32px);
      max-width: 40ch;
      margin: 0;
    }

    .heroimg {
      display: block;
      margin-right: 0;
      transform: translateX(18%); /* oder 50px, etc. */

      height: 100%;
      max-height: 100vh;
      width: auto;
      object-fit: contain;
    }

    .input-wrapper {
      position: relative;
      display: flex;
      margin-inline-start: 1rem;
      flex-direction: column;
    }

    input {
      padding: 1.3rem 1.4rem;
      font-size: 1.1rem;
      border: 2px solid #ffffff;
      border-radius: 20px;
      color: var(--text);
      background: var(--bg);
      width: 100%;
      max-width: 500px;
      box-sizing: border-box;
      z-index: 2;
    }

    button {
      width: 100%;
      max-width: 400px;
      padding-block: 1rem;
      cursor: pointer;
      margin-top: 7%;

      border-radius: 20px;
      border: none;

      font-family: var(--arth);
      color: var(--bg);
      font-size: 1.5rem;
      justify-self: center;
      background: linear-gradient(to right, var(--grad1), var(--grad2));
    }

    @media (min-width: 1000px) {
      button {
        margin-top: 4%;
      }
    }

    input:focus {
      outline: none;
      border: 3px solid #ffffff;
    }

    @media (max-width: 1000px) {
      body {
        padding: 0;
      }
      .hero {
        flex-direction: column;
        align-items: center;
        gap: 2rem;
      }

      h1 {
        text-align: center;
        font-size: 9vw;
        color: #1b1c1f;
      }

      .hcolor {
        background: linear-gradient(to right, var(--grad1), var(--grad2));
        width: 100vw;
        padding-block: 1rem;
        margin-top: -35px;
      }

      p {
        text-align: center;
        justify-self: center;
        margin: auto;
        font-size: 4.5vw;
        max-width: 30ch;
      }

      .input-wrapper {
        margin-inline: auto;
        width: 70vw;
        align-items: center;
      }
      input button {
        margin: auto;
      }

      button {
        font-size: 1.3rem;
      }

      .herotxt {
        position: relative;
        order: 2;
      }

      .heroimg {
        order: 1;
        width: auto;
        height: auto;
        max-height: 90vh;

        transform: translateX(-3vw); /* oder 50px, etc. */

        overflow-x: clip;
      }
    }
    @media (max-width: 550px) {
      .heroimg {
        width: 160%;
      }
    }

    @media (max-width: 400px) {
      button {
        font-size: 1.05rem;
      }
    }
  </style>
</Layout>
